@import "open-props/media.min.css";
:where(html) {
  --op-gray-0-hsl: 210 17% 98%;
  --op-gray-1-hsl: 210 17% 95%;
  --op-gray-2-hsl: 210 16% 93%;
  --op-gray-3-hsl: 210 14% 89%;
  --op-gray-4-hsl: 210 14% 83%;
  --op-gray-5-hsl: 210 11% 71%;
  --op-gray-6-hsl: 210 7% 56%;
  --op-gray-7-hsl: 210 9% 31%;
  --op-gray-8-hsl: 210 10% 23%;
  --op-gray-9-hsl: 210 11% 15%;
  --op-gray-10-hsl: 214 14% 10%;
  --op-gray-11-hsl: 216 16% 6%;
  --op-gray-12-hsl: 210 40% 2%;
  --op-stone-1-hsl: 210 18% 96%;
  --op-stone-3-hsl: 192 9% 89%;
  --op-stone-5-hsl: 202 5% 71%;
  --op-jungle-0-hsl: 74 98% 84%;
  --op-jungle-1-hsl: 74 79% 78%;
  --op-jungle-2-hsl: 74 68% 71%;
  --op-jungle-3-hsl: 75 62% 65%;
  --op-jungle-4-hsl: 74 56% 59%;
  --op-jungle-5-hsl: 74 53% 53%;
  --op-jungle-6-hsl: 74 55% 47%;
  --op-jungle-7-hsl: 74 66% 42%;
  --op-jungle-8-hsl: 74 79% 36%;
  --op-jungle-9-hsl: 73 90% 32%;
  --op-jungle-10-hsl: 73 91% 26%;
  --op-jungle-11-hsl: 73 91% 21%;
  --op-jungle-12-hsl: 73 90% 16%;
}

:where(html) {
  --op-red-0-oklch: oklch(99% 0.03 25);
  --op-red-1-oklch: oklch(95% 0.06 25);
  --op-red-2-oklch: oklch(88% 0.12 25);
  --op-red-3-oklch: oklch(80% 0.14 25);
  --op-red-4-oklch: oklch(74% 0.16 25);
  --op-red-5-oklch: oklch(68% 0.19 25);
  --op-red-6-oklch: oklch(63% 0.2 25);
  --op-red-7-oklch: oklch(58% 0.21 25);
  --op-red-8-oklch: oklch(53% 0.2 25);
  --op-red-9-oklch: oklch(49% 0.19 25);
  --op-red-10-oklch: oklch(42% 0.17 25);
  --op-red-11-oklch: oklch(35% 0.15 25);
  --op-red-12-oklch: oklch(27% 0.12 25);
  --op-color-0: oklch(99% 0.03 var(--color-hue, 0));
  --op-color-1: oklch(95% 0.06 var(--color-hue, 0));
  --op-color-2: oklch(88% 0.12 var(--color-hue, 0));
  --op-color-3: oklch(80% 0.14 var(--color-hue, 0));
  --op-color-4: oklch(74% 0.16 var(--color-hue, 0));
  --op-color-5: oklch(68% 0.19 var(--color-hue, 0));
  --op-color-6: oklch(63% 0.2 var(--color-hue, 0));
  --op-color-7: oklch(58% 0.21 var(--color-hue, 0));
  --op-color-8: oklch(53% 0.2 var(--color-hue, 0));
  --op-color-9: oklch(49% 0.19 var(--color-hue, 0));
  --op-color-10: oklch(42% 0.17 var(--color-hue, 0));
  --op-color-11: oklch(35% 0.15 var(--color-hue, 0));
  --op-color-12: oklch(27% 0.12 var(--color-hue, 0));
  --op-color-13: oklch(20% 0.09 var(--color-hue, 0));
  --op-color-14: oklch(14% 0.07 var(--color-hue, 0));
  --op-color-15: oklch(11% 0.05 var(--color-hue, 0));
  --op-color-bright: oklch(65% 0.3 var(--color-hue, 0));
  --op-hue-red: 25;
  --op-hue-pink: 350;
  --op-hue-purple: 310;
  --op-hue-violet: 290;
  --op-hue-indigo: 270;
  --op-hue-blue: 240;
  --op-hue-cyan: 210;
  --op-hue-teal: 185;
  --op-hue-green: 145;
  --op-hue-lime: 125;
  --op-hue-yellow: 100;
  --op-hue-orange: 75;
}

:where(html) {
  --op-border-size-1: 1px;
  --op-border-size-2: 2px;
  --op-radius-6: 8rem;
  --op-radius-blob-1: 30% 70% 70% 30%/53% 30% 70% 47%;
  --op-radius-conditional-1: clamp(0px, (100vw - 100%) * 100000, 2px);
}

:where(html) {
  --op-gradient-1: linear-gradient(to bottom right, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
  --op-gradient-2: linear-gradient(to bottom right, #48005c, #8300e2, #a269ff);
  --op-gradient-3: radial-gradient(circle at top right, hsl(180, 100%, 50%), hsla(180, 100%, 50%, 0)), radial-gradient(circle at bottom left, hsl(328, 100%, 54%), hsla(328, 100%, 54%, 0));
}

:where(html) {
  --op-mask-edge-scoop-bottom: radial-gradient(20px at 50% 100%, rgba(0, 0, 0, 0) 97%, #000) 50%/38px 100%;
  --op-mask-edge-scoop-top: radial-gradient(20px at 50% 0, rgba(0, 0, 0, 0) 97%, #000) 50%/38px 100%;
  --op-mask-edge-scoop-vertical: radial-gradient(20px at 50% 20px, rgba(0, 0, 0, 0) 97%, #000) 50% -20px/38px 100%;
  --op-mask-edge-scoop-left: radial-gradient(20px at 0 50%, rgba(0, 0, 0, 0) 97%, #000) 50%/100% 38px;
  --op-mask-edge-scoop-right: radial-gradient(20px at 100% 50%, rgba(0, 0, 0, 0) 97%, #000) 50%/100% 38px;
  --op-mask-edge-scoop-horizontal: radial-gradient(20px at 20px 50%, rgba(0, 0, 0, 0) 97%, #000) -20px/100% 38px;
  --op-mask-edge-scalloped: radial-gradient(farthest-side, #000 97%, rgba(0, 0, 0, 0)) 0 0/20px 20px round, linear-gradient(#000 0 0) 50%/calc(100% - 20px) calc(100% - 20px) no-repeat;
  --op-mask-edge-scalloped-bottom: linear-gradient(to top, rgba(0, 0, 0, 0) 20px, #000 0), radial-gradient(20px at top, #000 97%, rgba(0, 0, 0, 0)) bottom/38px 20px;
  --op-mask-edge-scalloped-top: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20px, #000 0), radial-gradient(20px at bottom, #000 97%, rgba(0, 0, 0, 0)) top/38px 20px;
  --op-mask-edge-scalloped-vertical: linear-gradient(0deg, rgba(0, 0, 0, 0) 40px, #000 0) 0 20px, radial-gradient(20px, #000 97%, rgba(0, 0, 0, 0)) 50%/38px 40px repeat space;
  --op-mask-edge-scalloped-left: linear-gradient(to right, rgba(0, 0, 0, 0) 20px, #000 0), radial-gradient(20px at right, #000 97%, rgba(0, 0, 0, 0)) left/20px 38px;
  --op-mask-edge-scalloped-right: linear-gradient(to left, rgba(0, 0, 0, 0) 20px, #000 0), radial-gradient(20px at left, #000 97%, rgba(0, 0, 0, 0)) right/20px 38px;
  --op-mask-edge-scalloped-horizontal: linear-gradient(-90deg, rgba(0, 0, 0, 0) 40px, #000 0) 20px, radial-gradient(20px, #000 97%, rgba(0, 0, 0, 0)) 50%/40px 38px space repeat;
  --op-mask-edge-drip-bottom: radial-gradient(20px at bottom, rgba(0, 0, 0, 0) 97%, #000) 50% calc(100% - 20px)/40px 100% repeat-x, radial-gradient(20px at 25% 50%, #000 97%, rgba(0, 0, 0, 0)) calc(50% - 20px) 99%/80px 40px repeat-x;
  --op-mask-edge-drip-top: radial-gradient(20px at top, rgba(0, 0, 0, 0) 97%, #000) 50% 20px/40px 100% repeat-x, radial-gradient(20px at 25% 50%, #000 97%, rgba(0, 0, 0, 0)) calc(50% - 20px) 1%/80px 40px repeat-x;
  --op-mask-edge-drip-vertical: radial-gradient(20px at top, rgba(0, 0, 0, 0) 97%, #000) 50% 20px/40px 51% repeat-x, radial-gradient(20px at bottom, rgba(0, 0, 0, 0) 97%, #000) 50% calc(100% - 20px)/40px 51% repeat-x, radial-gradient(20px at 25% 50%, #000 97%, rgba(0, 0, 0, 0)) calc(50% - 20px) 1%/80px 40px repeat-x, radial-gradient(20px at 25% 50%, #000 97%, rgba(0, 0, 0, 0)) calc(50% - 60px) 99%/80px 40px repeat-x;
  --op-mask-edge-drip-left: radial-gradient(20px at left, rgba(0, 0, 0, 0) 97%, #000) 20px 50%/100% 40px repeat-y, radial-gradient(20px at 50% 25%, #000 97%, rgba(0, 0, 0, 0)) 1% calc(50% - 20px)/40px 80px repeat-y;
  --op-mask-edge-drip-right: radial-gradient(20px at right, rgba(0, 0, 0, 0) 97%, #000) calc(100% - 20px) 50%/100% 40px repeat-y, radial-gradient(20px at 50% 25%, #000 97%, rgba(0, 0, 0, 0)) 99% calc(50% - 20px)/40px 80px repeat-y;
  --op-mask-edge-drip-horizontal: radial-gradient(20px at left, rgba(0, 0, 0, 0) 97%, #000) 20px 50%/51% 40px repeat-y, radial-gradient(20px at right, rgba(0, 0, 0, 0) 97%, #000) calc(100% - 20px) 50%/51% 40px repeat-y, radial-gradient(20px at 50% 25%, #000 97%, rgba(0, 0, 0, 0)) 1% calc(50% - 20px)/40px 80px repeat-y, radial-gradient(20px at 50% 25%, #000 97%, rgba(0, 0, 0, 0)) 99% calc(50% - 60px)/40px 80px repeat-y;
  --op-mask-edge-zig-zag-top: conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) 50%/40px 100%;
  --op-mask-edge-zig-zag-bottom: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) 50%/40px 100%;
  --op-mask-edge-zig-zag-left: conic-gradient(from 45deg at left, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) 50%/100% 40px;
  --op-mask-edge-zig-zag-right: conic-gradient(from -135deg at right, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) 50%/100% 40px;
  --op-mask-edge-zig-zag-horizontal: conic-gradient(from 45deg at left, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) left/51% 40px repeat-y, conic-gradient(from -135deg at right, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) right/51% 40px repeat-y;
  --op-mask-edge-zig-zag-vertical: conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) top/40px 51% repeat-x, conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 90deg, rgba(0, 0, 0, 0) 91deg) bottom/40px 51% repeat-x;
  --op-mask-corner-cut-circles-1: radial-gradient(1rem at 1rem 1rem, rgba(0, 0, 0, 0) 99%, #000) -1rem -1rem;
  --op-mask-corner-cut-circles-2: radial-gradient(2rem at 2rem 2rem, rgba(0, 0, 0, 0) 99%, #000) -2rem -2rem;
  --op-mask-corner-cut-circles-3: radial-gradient(4rem at 4rem 4rem, rgba(0, 0, 0, 0) 99%, #000) -4rem -4rem;
  --op-mask-corner-cut-squares-1: conic-gradient(at 2rem 2rem, #000 75%, rgba(0, 0, 0, 0) 0) -1rem -1rem;
  --op-mask-corner-cut-squares-2: conic-gradient(at 4rem 4rem, #000 75%, rgba(0, 0, 0, 0) 0) -2rem -2rem;
  --op-mask-corner-cut-squares-3: conic-gradient(at 8rem 8rem, #000 75%, rgba(0, 0, 0, 0) 0) -4rem -4rem;
  --op-mask-corner-cut-angles-1: conic-gradient(from -45deg at 1rem 1rem, rgba(0, 0, 0, 0) 25%, #000 0) -1rem 0/100% 51% repeat-x, conic-gradient(from 135deg at 1rem calc(100% - 1rem), rgba(0, 0, 0, 0) 25%, #000 0) -1rem 100%/100% 51% repeat-x;
  --op-mask-corner-cut-angles-2: conic-gradient(from -45deg at 2rem 2rem, rgba(0, 0, 0, 0) 25%, #000 0) -2rem 0/100% 51% repeat-x, conic-gradient(from 135deg at 2rem calc(100% - 2rem), rgba(0, 0, 0, 0) 25%, #000 0) -2rem 100%/100% 51% repeat-x;
  --op-mask-corner-cut-angles-3: conic-gradient(from -45deg at 4rem 4rem, rgba(0, 0, 0, 0) 25%, #000 0) -4rem 0/100% 51% repeat-x, conic-gradient(from 135deg at 4rem calc(100% - 4rem), rgba(0, 0, 0, 0) 25%, #000 0) -4rem 100%/100% 51% repeat-x;
}
